body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.container_curriculum {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.container_datos-personales {
  min-width: 400px;
}
.container_datos-personales h2 {
  max-width: 200px;
}

.container_datos-extras {
  min-width: 800px;
}

li {
  font-weight: bold;
}

span {
  color: rgb(8, 123, 255);
}


@media screen and (max-width: 320px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .container_datos-personales h2 {
    max-width: 304px;
  }

  h2 {
    font-size: 1.3rem;
    border-bottom: 1px solid rgb(54, 54, 54);
  }

  p {
    line-height: .3rem;
  }

  p:nth-child(even) {
    margin-top: 2rem;
  }

  li {
    list-style: none;
  }
  
  span {
    display: block;
    margin-top: 1.5rem;
  }

  .container_datos-personales {
    min-width: 0;
    width: 100%;
  }

  .container_datos-extras {
    min-width: 0;
    width: 100%;
  }
}